@charset "UTF-8";
@import "variables";

.template-content {
	padding-left: 30px;
	.template-item {
		li {
			margin-top: 30px;
			label {
				min-width: 100px;
			}
			input {
				min-width: 200px;
			}
			textarea {
				padding: 5px 10px;
				resize: none;
			}
			.ps {
				margin-top: 5px;
			}
		}
	}
	.tempate-btns {
		margin-top: 30px;
		.btns {
			margin-left: 100px;
		}
	}
	.form-control{
        border: 1px solid @color-active;
        &:hover {
            box-shadow: 0 0 10px rgba(79, 151, 235, .8) inset; 
        }
    }
    input.form-control,select.form-control{
    	height:30px !important;
    }
}
